.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

input{
    width: calc(100% - 20px);
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.result{
    margin: 5px 0;
    font-size: 1.2rem;
    color: violet;
    font-family: Algerian, sans-serif;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button__number{
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 25px;
    background: mediumturquoise;
    color: mediumblue;
}
.button__number:hover{
    background: gold;
}

.title{
    color: royalblue;
    font-family: Ebrima, sans-serif;

}


